@import url("https://cdn.jsdelivr.net/gh/tedhinklater/finality@main/finality.css");

/* Backdrop */
.backdropImage {
  filter: blur(0px) saturate(100%) contrast(120%) brightness(65%);
  transition: filter 0.3s;
}

.backgroundContainer.withBackdrop {
  background: linear-gradient(180deg, rgb(7.843% 1.176% 27.451% / 0.18) 0%, rgb(7.775% 1.165% 27.21% / 0.1878780350346755) 6.25%, rgb(7.574% 1.132% 26.496% / 0.21120939167037245) 12.5%, rgb(7.248% 1.077% 25.336% / 0.24909745895595645) 18.75%, rgb(6.809% 1.004% 23.775% / 0.3000862197135155) 25%, rgb(6.275% 0.915% 21.874% / 0.36221620446196306) 31.25%, rgb(5.664% 0.813% 19.704% / 0.4330997927303132) 37.5%, rgb(5.002% 0.703% 17.35% / 0.5100129679733874) 43.75%, rgb(4.314% 0.588% 14.902% / 0.59) 50%, rgb(3.625% 0.473% 12.454% / 0.6699870320266126) 56.25%, rgb(2.963% 0.363% 10.1% / 0.7469002072696869) 62.5%, rgb(2.353% 0.261% 7.93% / 0.8177837955380369) 68.75%, rgb(1.818% 0.172% 6.028% / 0.8799137802864845) 75%, rgb(1.379% 0.099% 4.468% / 0.9309025410440437) 81.25%, rgb(1.053% 0.045% 3.308% / 0.9687906083296276) 87.5%, rgb(0.852% 0.011% 2.594% / 0.9921219649653246) 93.75%, rgb(0.784% 0% 2.353%) 100% );
  opacity: 0.85;
}

.layout-mobile .itemBackdrop {
    display: block;
    -webkit-animation: backdrop-fadein .8s ease-in normal both;
    animation: backdrop-fadein .8s ease-in normal both;
    background-attachment: fixed;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh !important;
    position: fixed !important;
    top: 0;
    margin-top: 0rem;
    left: 0;
    width: 100%;
    z-index: -1;
    filter: blur(0px) saturate(100%) contrast(130%) brightness(20%);
 }
