@import url("https://cdn.jsdelivr.net/gh/tedhinklater/finality@main/finality.css");


/* Backdrop */
.backdropImage {
    filter: blur(5px) saturate(100%) contrast(120%) brightness(40%);
    transition: filter 0.3s;
}

.backgroundContainer.withBackdrop {
    background: linear-gradient(270deg, rgb(8.627% 56.471% 91.373% / 0.72) 0%, rgb(13.247% 56.245% 91.695% / 0.7200960735979838) 6.25%, rgb(22.411% 55.527% 92.507% / 0.7203806023374435) 12.5%, rgb(33.057% 54.2% 93.355% / 0.7208426519384873) 18.75%, rgb(44.647% 52.087% 93.521% / 0.7214644660940672) 25%, rgb(56.823% 49.003% 92.154% / 0.722222148834902) 31.25%, rgb(68.953% 44.844% 88.48% / 0.7230865828381745) 37.5%, rgb(80.129% 39.757% 82.096% / 0.7240245483899194) 43.75%, rgb(89.363% 34.375% 73.185% / 0.725) 50%, rgb(95.88% 30.024% 62.529% / 0.7259754516100806) 56.25%, rgb(99.375% 28.385% 51.252% / 0.7269134171618254) 62.5%, rgb(100% 29.989% 40.427% / 0.727777851165098) 68.75%, rgb(98.8% 33.533% 30.753% / 0.7285355339059327) 75%, rgb(96.408% 37.368% 22.498% / 0.7291573480615127) 81.25%, rgb(93.895% 40.493% 15.706% / 0.7296193976625565) 87.5%, rgb(92.047% 42.467% 10.679% / 0.7299039264020162) 93.75%, rgb(91.373% 43.137% 8.627% / 0.73) 100% );
  opacity: 0.15;
}

.layout-mobile .itemBackdrop {
    display: block;
    -webkit-animation: backdrop-fadein .8s ease-in normal both;
    animation: backdrop-fadein .8s ease-in normal both;
    background-attachment: fixed;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh !important;
    position: fixed !important;
    top: 0;
    margin-top: 0rem;
    left: 0;
    width: 100%;
    z-index: -1;
    filter: blur(0px) saturate(100%) contrast(130%) brightness(20%);
 }
