@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Limit Custom CSS code box size */
#txtCustomCss {
    height: 400px !important;
    max-height: 400px !important;
    overflow-y: scroll !important;
    resize: vertical !important;
}
.customCssContainer textarea {
    height: auto !important;
}

/* Round menu hover background */
.navMenuOption,
.navMenuOption:hover,
.navMenuOption-selected {
    border-radius: 2em !important;
    width: 80% !important;
    margin-left: 2em !important;
}

/* Video Playback Progress Bar */
.mdl-slider-background-lower {
    background: #dc0000 !important;
}

.iconOsdProgressInner {
  background: #f00;
  border-radius: .25em;
  height: 100%;
}

/* Edge & Chrome browser & JMP */

.slider-browser-edge{margin-left:-.16em;margin-right:-.16em;width:150%}.mdl-slider::-webkit-slider-thumb{-webkit-appearance:none;appearance:none;background:#dc0000;}
/*Red Selector*/
.navMenuOption:hover {
	background: #d90000 !important;
}

.mainDrawer, .drawer-open {
  background-color: #000;
}

.navMenuOptionIcon {
  margin-right: 1em;
  margin-left: -1em;
}

.mdl-slider::-moz-range-thumb {
	background: #dc0000 !important;
}
	
.sliderMarker.watched {
  background-color: #dc0000f7;
}

/*Spinner*/
.mdl-spinner__layer-1,
.mdl-spinner__layer-2,
.mdl-spinner__layer-3,
.mdl-spinner__layer-4 {
    border-color: #d90000 !important;
}

.starIcon {
  margin-bottom: 0.2em;
}

.mediaInfoCriticRating {
  margin-bottom: 0.2em;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #fff #0000 !important;
}

/* Progress ring */
.progressring-spiner {
  border-color: #dc0000f7;
  border-width: .35em;
}
.progressring {
    margin: .4em;
}
.progressring-bg {
   display: none;
}

.cardBox:not(.visualCardBox) .cardPadder {
	background-color: transparent !important;
	border: 2px solid hsla(2, 59%, 11%, 1);
}

/* Dashboard & button colours */
.css-17c09up.Mui-selected {
  background-color: rgba(220, 0, 0, 0.2);
}

.css-17c09up.Mui-selected:hover {
  background-color: rgba(220, 0, 0, 0.28);
}

.css-1ip8vbj.Mui-selected {
  background-color: rgba(220, 0, 0, 0.2);
}

.css-1ip8vbj.Mui-selected:hover {
  background-color: rgba(220, 0, 0, 0.28);
}

.css-77wcaa .MuiAlert-icon {
	color: rgb(246, 41, 41);
}

.css-1fv02xh {
	background-color: rgba(255, 255, 255, 1);
}

.css-1fv02xh:hover {
	background-color: rgba(255, 31, 31, 0.85);
}

.css-77wcaa {
	background-color: rgba(48, 6, 6, 0.26);
}

.css-195jjve {
	background-color: rgb(52, 41, 41);
}

.css-1pjtbja {
	color: #fff;
}

.css-1jmiiw3 .MuiDataGrid-row.Mui-selected {
	background-color: rgba(220, 0, 0, 0.2);
}

.css-1jmiiw3 .MuiDataGrid-row.Mui-selected:hover {
	background-color: rgba(220, 0, 0, 0.28);
}

#dashboardPage .listItemIcon.material-icons.notifications {
	background-color: #af0a0a !important;
}

progress::-moz-progress-bar {
  background-color: rgba(220, 0, 0, 0.9);
}
progress::-webkit-progress-value {
  background-color: rgba(220, 0, 0, 0.9);
}
.taskProgressInner {
  background: rgba(220, 0, 0, 0.9) !important;
}
#divRunningTasks span {
    color: rgba(255,255,255,0.75) !important;
}

.listItemIcon:not(.listItemIcon-transparent) {
  background-color: #dc000099;
  border-radius: 100em;
  color: #fff;
  padding: .5em;
}

@media (hover: hover) and (pointer: fine) {
    .paper-icon-button-light:hover:not(:disabled) {
        color: rgba(255, 0, 0, 0.8);
        background-color: rgba(0, 164, 220, 0.2);
    }
}

@media (hover: hover) and (pointer: fine) {
    .paper-icon-button-light:hover:not(:disabled) {
        color: #e10000;
        background-color: rgba(0, 164, 220, 0.2);
    }
}

.paper-icon-button-light:active:not(:disabled) {
    color: #e10000;
    background-color: rgba(0, 164, 220, 0.2);
}

.paper-icon-button-light.show-focus:focus {
    color: #e10000;
}

.emby-checkbox:checked + span + .checkboxOutline, .itemProgressBarForeground {
  background-color: #000;
}

.button-submit {
  background: #6e1010;
  color: #fff;
}

.button-submit:focus {
    background: #8a1313;
    color: #fff;
}

.inputLabelFocused,
.selectLabelFocused,
.textareaLabelFocused {
    color: #e10000;
}

.defaultCardBackground1 {
    background-color: #5c0000;
}

.defaultCardBackground2 {
    background-color: #e14444;
}

.defaultCardBackground3 {
    background-color: #db0000;
}

.defaultCardBackground4 {
    background-color: #5c1c1c;
}

.defaultCardBackground5 {
    background-color: #a80000;
}

.itemSelectionPanel {
    border: 1px solid #dc0000;
}

.selectionCommandsPanel {
    background: #dc0000;
    color: #fff;
}

.upNextDialog-countdownText {
    color: #dc0000;
}

.alphaPickerButton {
    color: #999;
    color: rgba(255, 255, 255, 0.5);
    background-color: transparent;
}

.alphaPickerButton-selected {
    color: #fff;
}

.alphaPickerButton-tv:focus {
    background-color: #dc0000;
    color: #fff !important;
}

.progressring-spiner {
    border-color: #dc0000;
}

.button-flat:hover {
    color: #dc0000;
}

.button-link {
  color: #fff;
}

.emby-input:focus,
.emby-textarea:focus {
    border-color: white;
}

.emby-select-withcolor:focus {
    border-color: #dc0000 !important;
}

.emby-select-tv-withcolor:focus {
    background-color: #dc0000 !important;
    color: #fff !important;
}

.emby-checkbox:checked + span + .checkboxOutline {
    border-color: #8a1313;
}

.emby-checkbox:focus:not(:checked) + span + .checkboxOutline {
    border-color: #7c0909;
}

.itemProgressBarForeground-recording {
    background-color: #cb272a;
}

.countIndicator,
.fullSyncIndicator,
.mediaSourceIndicator,
.playedIndicator {
    background: #dc0000;
}

.navMenuOption-selected {
    background: #dc0000 !important;
    color: #fff;
}

.emby-button.show-focus:focus {
    background: #dc0000;
    color: #fff;
}

.emby-tab-button.show-focus:focus {
    color: #dc0000;
}

.emby-tab-button:hover {
    color: #dc0000;
}

.programCell-sports {
    background: #ab3939 !important;
}

.programCell-movie {
    background: #b13535 !important;
}

.programCell-kids {
    background: #e50303 !important;
}

.programCell-news {
    background: #a04343 !important;
}

.guide-channelHeaderCell:focus,
.programCell:focus {
    background-color: #dc0000 !important;
    color: #fff !important;
}

.guide-date-tab-button.emby-tab-button-active,
.guide-date-tab-button:focus {
    color: #dc0000;
}

.downloadbutton-icon-complete,
.downloadbutton-icon-on {
    color: #f44242;
}

.buttonActive {
    color: #dc0000 !important;
}

.card:focus .cardBox.visualCardBox,
.card:focus .cardBox:not(.visualCardBox) .cardScalable {
    border-color: #dc0000 !important;
}

.itemsContainer > .card > .cardBox {
  margin-left: 0.3em !important;
  margin-right: 1.2em;
}

.metadataSidebarIcon {
    color: #dc0000;
}

.layout-tv .emby-button.detailFloatingButton:focus {
    background-color: #f2f2f2;
    color: #dc0000;
}

#dialogToc .bookplayerButtonIcon:hover {
    color: #dc0000;
}

#dialogToc .toc li a:active,
#dialogToc .toc li a:hover {
    color: #dc0000;
}

/*Make watched icon and count indicator dark and red*/
.innerCardFooter,
.countIndicator, 
.playedIndicator {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8) 0%, rgba(255, 0, 0, 0.8) 100%);
  box-shadow: none;
  color: #fff;
}

.ratingbutton-icon-withrating {
    color: #f00;
}

.downloadbutton-icon-complete,
.downloadbutton-icon-on {
    color: #4285f4;
}

.playstatebutton-icon-played {
    color: #f00;
}

.buttonActive {
    color: #00a4dc !important;
}

/* --- Homepage --- */

/* Backdrop */
.backdropImage {
    filter: blur(0px) saturate(0%) contrast(130%) brightness(90%);
    transition: filter 0.3s;
}

.backgroundContainer.withBackdrop {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Header*/
.skinHeader-withBackground {
    background-color: transparent !important;
}

.emby-tab-button {
  background: transparent;
  border-radius: 0;
  box-shadow: none;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  font-family: "Rubik", sans-serif !important;
  font-size: inherit;
  font-weight: 600;
  height: auto;
  line-height: 1.25;
  margin: 0;
  min-width: 0;
  min-width: auto;
  outline: none;
  overflow: hidden;
  padding: 1.5em 1.5em;
  position: relative;
  vertical-align: middle;
  width: auto;
  text-transform: uppercase;
}

/* move homeTab sections left */
.layout-desktop #homeTab .sections.homeSectionsContainer {
	margin-left: -2.5em;
	max-width: 129em;
}

/* move scrollbuttons right */
.layout-desktop #homeTab .emby-scrollbuttons.padded-right {
	right: -4em;
}

/* My Media Card size */

.layout-desktop #indexPage .verticalSection.section0 .card.overflowBackdropCard.card-hoverable.card-withuserdata {
	width: 20.81em;
}

/* My Media (small) */
.layout-desktop #indexPage .raised {
	background: #0000007d;
	border: 2px solid white;
	border-radius: 1em;
}

.layout-desktop #indexPage .homeLibraryButton {
  min-width: 13.65em;
  margin-top: 0.5em !important;
  margin-right: 1.46em !important;
  margin-bottom: 0.5em !important;
  margin-left: 0.5em !important;
}

.layout-desktop #indexPage .card.overflowBackdropCard.card-hoverable.card-withuserdata,
.card.overflowSquareCard.card-hoverable {
	width: 15.6em;
}

.layout-desktop #homeTab .homeLibraryText {
	font-family: "Rubik", sans-serif;
	font-size: 1em;
	font-weight: 500 !important;
	text-transform: uppercase;
}

.layout-desktop #homeTab .raised.homeLibraryButton.emby-button {
  margin-left: 1em !important;
  margin-right: 1em !important;
  padding-left: 3em !important;
  padding-right: 3em !important;
  align-content: center;
  text-align: center;
}

/* Hide My Media text under cards */
.verticalSection.section0 .textActionButton {
  display: none;
}

/*Vertical card size on homeTab */
.layout-desktop #homeTab .card.overflowPortraitCard.card-hoverable.card-withuserdata {
  width: 15.6em;
}

/*Square card size on homeTab */
.overflowSquareCard {
    width: 12.05em;
}

/* Reduce space between My Media cards and Next Up */
.layout-desktop .sectionTitleContainer-cards {
  margin-top: -1.5em;
  margin-bottom: -0.3em;
}

/* Position chevron */
.sectionTitleTextButton > .material-icons {
  font-size: 1.5em;
  margin-bottom: .2em;
  margin-left: 0.2em;
}

/* Adjust alignment for the cards within the Continue Watching section */
.layout-desktop #homeTab .section1.verticalSection .itemsContainer .card.overflowBackdropCard {
    width: 31.35em !important;
    margin-top: 0em;
}

.layout-desktop #homeTab .sectionTitle.sectionTitle-cards {
	font-size: 1em;
	font-family: "Rubik", sans-serif;
	text-transform: uppercase;
	font-weight: 500 !important;
	margin-left: 0.3em;
}

/* Apply progress bar gradient */
.itemProgressBarForeground {
    background: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 100%);
}

.playbackProgress {
	color: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 100%);
	background-color: #000 !important;
	z-index: 1000;
}

/* hide Live TV text */
.layout-desktop .sectionTitleContainer.sectionTitleContainer-cards.padded-left > .sectionTitle.sectionTitle-cards {
    display: none;
}

/* hide Live TV shortcuts */
.layout-desktop .padded-top.padded-bottom.scrollSlider.focuscontainer-x {
    display: none;
}

/* --- Movies Page --- */

.layout-desktop #moviesTab .portraitCard {
  width: 15.6em;
  padding-right: 0em;
  padding-left: 0em;
}

.layout-desktop #seriesTab .portraitCard {
  width: 15.6em;
  padding-right: 0em;
  padding-left: 0em;
}

/* Favorites */

.layout-desktop #favoritesTab .cardText.cardTextCentered.cardText-first {
	font-family: "kanit";
	text-transform: uppercase;
    font-weight: 700 !important;
    margin-bottom: -0.2em;
}

.layout-desktop #favoritesTab .overflowPortraitCard {
  width: 15.6em;
  padding-right: 0em;
  padding-left: 0em;
}

.layout-desktop #favoritesTab .sections {
	padding-top: 1em;
}

.layout-desktop #favoritesTab .verticalSection.emby-scroller-container {
	margin-left: -2.5em;
    max-width: 129em;
}

.layout-desktop #favoritesTab .sectionTitle.sectionTitle-cards {
  font-size: 1em;
  font-family: "Rubik", sans-serif;
  text-transform: uppercase;
  font-weight: 500 !important;
  margin-left: 0.3em;
}

/* Genres */

.layout-desktop #genresTab .cardText.cardTextCentered.cardText-first {
	font-family: "kanit";
	text-transform: uppercase;
    font-weight: 700 !important;
    margin-bottom: -0.2em;
}

.layout-desktop #genresTab .overflowPortraitCard {
  width: 15.6em;
  padding-right: 0em;
  padding-left: 0em;
}

.layout-desktop #items .verticalSection {
  margin-top: 3em;
  margin-bottom: -5em;
}

.layout-desktop #genresTab .verticalSection.emby-scroller-container {
	margin-left: -2.5em;
    max-width: 129em;
}

.layout-desktop #genresTab .sectionTitle.sectionTitle-cards {
  font-size: 1em;
  font-family: "Rubik", sans-serif;
  text-transform: uppercase;
  font-weight: 500 !important;
  margin-left: 0.3em;
}

/* Suggestions */

.layout-desktop #suggestionsTab .cardText.cardTextCentered.cardText-first {
	font-family: "kanit";
	text-transform: uppercase;
    font-weight: 700 !important;
    margin-bottom: -0.2em;
}

.layout-desktop #resumableItems .backdropCard {
  width: 31.35em !important;
  padding-right: 0em;
  padding-left: 0em;
}

.layout-desktop #suggestionsTab .portraitCard {
  width: 15.6em;
  padding-right: 0em;
  padding-left: 0em;
}

.layout-desktop #suggestionsTab .verticalSection {
  margin-top: 3em;
  margin-bottom: -5em;
}

.layout-desktop #suggestionsTab .verticalSection.emby-scroller-container {
	margin-left: -2.5em;
    max-width: 129em;
}

.layout-desktop #suggestionsTab .sectionTitle.sectionTitle-cards {
  font-size: 1em;
  font-family: "Rubik", sans-serif;
  text-transform: uppercase;
  font-weight: 500 !important;
  margin-left: 0.3em;
}

/* Search */

.layout-desktop #searchPage .searchSuggestionsList.padded-left.padded-right {
	font-family: "Kanit", sans-serif;
	font-weight: 700 !important;
	text-transform: uppercase;
}

.layout-desktop #searchPage .cardText.cardTextCentered.cardText-first {
	font-family: "kanit";
	text-transform: uppercase;
    font-weight: 700 !important;
    margin-bottom: -0.2em;
}

.layout-desktop #searchPage .overflowPortraitCard {
  width: 15.6em;
  padding-right: 0em;
  padding-left: 0em;
}

.layout-desktop #searchPage .verticalSection {
  margin-top: 3em;
  margin-bottom: -5em;
}

.layout-desktop #searchPage .sectionTitle.sectionTitle-cards {
	font-size: 1em;
	font-family: "Rubik", sans-serif;
	text-transform: uppercase;
	font-weight: 500 !important;
	margin-left: 0.3em;
}

.layout-desktop #searchPage .emby-scrollbuttons.padded-right {
	top: -1em;
}

.layout-desktop #moviesTab .cardText.cardTextCentered.cardText-first {
	font-family: "kanit";
	text-transform: uppercase;
    font-weight: 700 !important;
    margin-bottom: -0.2em;
}

.layout-desktop #seriesTab .cardText.cardTextCentered.cardText-first {
	font-family: "kanit";
	text-transform: uppercase;
        font-weight: 700 !important;
margin-bottom: -0.2em;
}

.cardFooter {
  padding: .2em .2em .4em .2em;
  position: relative;
  margin-top: 0em;
}

.cardScalable .cardImageContainer {
  contain: strict;
  height: 100%;
  width: 100%;
}

.visualCardBox {
  background-color: #0000005e;
}

.backdropCard {
    width: 16.3%;
}

.layout-desktop #homeTab .material-icons.cardOverlayButtonIcon.cardOverlayButtonIcon-hover.play_arrow {
  background-color: rgba(255, 0, 0, 0.75);
  font-size: 100%;
  height: 2.5em;
  width: 2.5em;

}

.layout-desktop #homeTab .cardOverlayButton.cardOverlayButton-hover.itemAction.paper-icon-button-light.emby-button {
	background: transparent;
}

.layout-desktop .padded-right-withalphapicker {
    padding-left: 1.5em;
	padding-right: 2em;
  }

.layout-desktop .alphaPicker-fixed-right {
    right: 1em;
    right: max(env(safe-area-inset-right),1em) !important;
  }
 
 /* Top padding */
 .pageWithAbsoluteTabs:not(.noSecondaryNavPage) {
    padding-top: 3.7em !important;
  }

/* --- Detail Page --- */

/* Poster */
.layout-desktop #itemDetailPage .detailImageContainer .card {
    position: fixed;
    top: -5.42em;
    left: 91.5em;
    width: 25em;
	border: 2px solid white;
    border-radius: 5px;
}

.layout-desktop .detailImageContainer .card {
  max-width: 20.5em;
  z-index: 3;
}

.layout-desktop #homeTab .cardText.cardTextCentered.cardText-first {
	font-family: "kanit";
	text-transform: uppercase;
        font-weight: 700 !important;
margin-bottom: -0.2em;
}

.layout-desktop #homeTab .cardText.cardTextCentered.cardText-secondary {
	font-family: "Rubik";
}

.layout-desktop #castCollapsible .card.portraitCard {
    border: 2px solid white;
    border-radius: 5px;
}

/* Hide Ribbon */
.layout-desktop .detailPagePrimaryContainer {
    z-index: 2;
    background: transparent;
}

.layout-desktop .detailPagePrimaryContainer {
  position: fixed;
  top: 1em;
  left: 1em;
  width: 60%;
}

.layout-desktop .detailRibbon {
  height: 7.2em;
  margin-top: 13.8em;
}
.layout-desktop .detailPagePrimaryContainer {
  position: fixed;
}

.layout-desktop .itemMiscInfo {
  -webkit-align-items: center;
  align-items: center;
  position: absolute;
  top: -6.7em;
  left: 5.65em;
  opacity: 1;
  font-family: "Kanit", sans-serif;
  font-weight: 600;
}

.layout-desktop .mainDetailButtons {
  -webkit-align-items: center;
  align-items: center;
  display: flex;
  position: fixed;
  top: 18em;
  left: 2.5em;
  font-size: 200%;
  margin: 0;
}

.layout-desktop .detailButton-icon {
  font-size: 1.6em !important;
  height: 1em;
  width: 1em;
}

.layout-desktop .detailButton-icon.play_arrow {
    background-color: rgba(255,0,0,1);
	border-radius: 10px;
	z-index: -2;
	padding-right: 2.4em;
}

.layout-desktop .detailButton .detailButton-icon.play_arrow::before {
    color: white;
}

.layout-desktop .detailButton .detailButton-icon.play_arrow::after {
    content: "WATCH NOW";
	font-family: "Kanit", sans-serif;
    font-weight: 800;
    font-style: normal;
    position: fixed;
    top: 35.75em;
	left: 9.2em;
    color: white;
    font-weight: bold;
    font-size: 12pt;
    white-space: nowrap;
	z-index: 2;
}

.layout-desktop .detailButton .detailButton-icon.theaters {
    position: fixed;
    top: 11.68em;
	left: 20em;
    font-weight: bold;
    font-size: 12pt;
    white-space: nowrap;
	padding-right: 2.4em;
}

.layout-desktop .detailButton .detailButton-icon.check.playstatebutton-icon-unplayed {
  position: fixed;
  top: 11.68em;
  left: 7.8em;
  font-weight: bold;
  white-space: nowrap;
}

.layout-desktop .detailButton .detailButton-icon.check.playstatebutton-icon-played {
    position: fixed;
    top: 11.68em;
	left: 7.8em;
    font-weight: bold;
    white-space: nowrap;
}

.layout-desktop .detailButton .detailButton-icon.favorite {
    position: fixed;
    top: 11.68em;
	left: 11.5em;
    font-weight: bold;
    white-space: nowrap;
}

.layout-desktop .detailButton .detailButton-icon.replay {
    display: none;
}

.layout-desktop .detailButton .detailButton-icon.shuffle {
    display: none;
}

.layout-desktop .detailButton .detailButton-icon.more_vert {
    position: fixed;
    top: 11.68em;
	left: 16em;
    font-weight: bold;
    font-size: 12pt;
    white-space: nowrap;
}

.button-link:hover {
  -webkit-text-decoration: underline;
  text-decoration: underline;
  color: red;
}

/* Title */

.layout-desktop .itemName.parentNameLast {
  top: -0.75em !important;
  position: absolute;
  font-size: 5em;
  text-transform: uppercase;
  right: auto;
  left: 1.1em;
  width: 65%;
  overflow: hidden;
  white-space: normal;
  line-height: 0.93em;
  max-height: 2em;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  font-family: "Kanit", sans-serif;
  font-weight: 700 !important;
  font-style: normal;
}

/* Series Air Time */

.layout-desktop #itemDetailPage .detailSectionContent #seriesAirTime {
	position: fixed;
	top: 7.3em;
    left: 23em;
}

.layout-desktop .itemName.infoText.originalTitle {
	position: fixed;
	top: 7.9em;
    left: 37em;
}

/* Logo */

.detailLogo {
  display: none;
}

/* Hide Tags */
.itemTags {
    display: none;
}

/* Tagline */
#itemDetailPage .tagline {
  font-weight: 600;
}

/* Description */

body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.layout-desktop .detailPagePrimaryContent {
  position: fixed;
  top: 21.4em;
  left: 6.65em;
  max-width: 50%;
  font-size: 11pt;
}

/* Select Tracks */
.layout-desktop .trackSelections {
  width: auto;
  max-width: 8.1em;
  position: fixed;
  top: 54em;
  left: 105em;
  font-family: "Rubik", sans-serif;
  text-transform: uppercase;
  font-size: 0.9em;
}
/* Transparency */
.emby-select-withcolor {
  color: inherit;
  background: transparent;
  border: 0.07em solid #292929;
}
/* Width */
.layout-desktop .trackSelections .selectContainer .detailTrackSelect {
  font-size: inherit;
  overflow: visible;
  padding-left: 1em;
  padding-right: 1em;
  width: 20em;
  border-radius: 2em;
}

.layout-desktop .trackSelections .selectContainer {
  display: -webkit-flex;
  display: flex;
  margin: 0 0 .5em !important;
  max-width: 0em;
}

/* Seasons carousel */
.layout-desktop #childrenContent .childrenItemsContainer.itemsContainer.padded-right.vertical-wrap {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding-bottom: 0em;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    max-width: 15.5%;
    box-sizing: border-box;
    scroll-snap-type: x mandatory;
}

/* Series */
.layout-desktop #childrenContent .childrenItemsContainer.itemsContainer.padded-right.vertical-wrap {
	position: fixed;
    top: 40.22em;
    left: 92.8em;
	height: 11.5em;
}

/* Season View */

.layout-desktop #itemDetailPage .itemName.infoText.subtitle {
	position: fixed;
    top: 32.3em;
    left: 9.38em;
}

/* Hide directors writers studio */
.layout-desktop .genresLabel.label,
.detailsGroupItem.directorsGroup,
.detailsGroupItem.writersGroup,
.detailsGroupItem.studiosGroup {
	display: none;
}

.layout-desktop .detailsGroupItem.genresGroup {
  position: fixed;
  top: 6.95em;
  left: 4.72em;
  font-family: kanit;
  text-transform: uppercase;
  text-align: left;
  font-style: normal;
  font-size: 1.4em;
  opacity: 0.4;
  width: 34em;
}

/* Hide Upcoming On TV section */
#seriesScheduleSection {
    display: none;
}

/* IMDb links etc */
.layout-desktop .itemExternalLinks.focuscontainer-x {
  display: block;
  position: fixed;
  top: 8.35em;
  left: 113.2em;
  transform: translateX(-50%);
  opacity: 0.8;
}

/* Hide More Like This */
.layout-desktop .verticalSection.detailVerticalSection.verticalSection-extrabottompadding.emby-scroller-container {
  display: block;
}

/* Next Up */
.layout-desktop #itemDetailPage .nextUpSection {
	display: none;
}

.layout-desktop #itemDetailPage  .overflowBackdropCard, .overflowSmallBackdropCard {
    width: 16.4em;
}

.layout-desktop #itemDetailPage .emby-scrollbuttons-button.paper-icon-button-light {
	padding-left: 33.5em;
}

.layout-desktop #childrenContent .card.overflowBackdropCard.card-hoverable.card-withuserdata {
	margin-top: -4em;
}

.layout-desktop #childrenCollapsible .overflowPortraitCard {
	width: 6.9em;
}

.layout-desktop #itemDetailPage .overflowBackDropCard {
	width: 25em;
}

/* More from season */
.layout-desktop #itemDetailPage .verticalSection.detailVerticalSection.moreFromSeasonSection.emby-scroller-container {
  position: relative;
  top: 1.7em;
  left: 44.9em;
  width: 38%;
}

.layout-desktop #itemDetailPage .emby-scrollbuttons {
  position: relative;
  top: 6.5em;
  left: -16.2em;
  z-index: -2;
}

.layout-desktop #itemDetailPage .parentName.focuscontainer-x {
	text-transform: uppercase;
  position: fixed;
  top: 2em;
  left: 1.3em;
  font-size: 5em;
  width: 65%;
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.layout-desktop #itemDetailPage .itemName.infoText.subtitle.focuscontainer-x {
  position: fixed;
  top: 18.22em;
  left: 88.4em;
  transform: translateX(-50%);
}

/* Cast & Crew */

/* Hide "Cast & Crew" text */
#castCollapsible .sectionTitle-cards {
  margin: 0;
  padding-bottom: .2em;
  padding-top: .5em;
  padding-left: 3em;
  display: none;
}

/* Hide 3 dots on cast portrait */
#castContent .cardOverlayButton-br.flex {
	display: none;
}

.layout-desktop #castContent .cardOverlayContainer.itemAction:hover {
	border: none !important;
}

.layout-desktop .cardOverlayContainer {
  background: rgba(255,255,255,.1);
}

/* More button in bio */
.layout-desktop #childrenContent .raised.more.raised-mini.noIcon.emby-button {
  position: fixed;
  top: 34em;
  left: 117em;
  z-index: 2;
}

#childrenCollapsible .starRatingContainer {
	margin-bottom: -1.5em;
	margin-left: 6em;
}

/* Hide "Series" text */
.layout-desktop #childrenCollapsible .childrenSectionHeader.sectionTitle.sectionTitle-cards {
	display: none;
}

/* Hide "Movies" text */
.layout-desktop #childrenContent .sectionTitle.sectionTitle-cards {
	display: none;
}

/* Hide More from Season text */
.layout-desktop #itemDetailPage .sectionTitle.sectionTitle-cards.padded-right {
  display: none;
}

/* Special Features text */
.layout-desktop #specialsCollapsible .sectionTitle.sectionTitle-cards.padded-right {
  display: block;
  position: fixed;
  top: 1em;
  left: 98em;
  font-size: 100%;
  opacity: 0.9;
  text-transform: uppercase;
  font-family: "Kanit";
  color: #ff1e1e;
}

.layout-desktop #specialsContent .cardText {
  font-family: "Kanit";
  font-size: 11pt;
}

.layout-desktop .verticalSection.detailVerticalSection.emby-scroller-container {
  position: absolute;
  bottom: 0.7em;
  left: 5.2em;
  width: 117em;
  max-width: 117em;
  z-index: 1;
}

.layout-desktop #castCollapsible .emby-scrollbuttons.padded-right {
	position: relative;
	top: 3.87em;
	left: 2.3em;
        z-index: 0;
}

.layout-desktop #castCollapsible .emby-scrollbuttons-button.paper-icon-button-light {
	padding-left: 60em;
        padding-right: 60em;
}

.layout-desktop #guestCastCollapsible .emby-scrollbuttons.padded-right {
	display: none;
}

/* Specials */

.layout-desktop #specialsCollapsible .padded-top-focusscale.padded-bottom-focusscale.no-padding.emby-scroller {
    position: fixed;
    top: 2.3em;
    left: 93em;
    width: 12%;
}

.layout-desktop #specialsContent .card.overflowBackdropCard.card-hoverable.card-withuserdata {
	width: 10em;
}

.layout-desktop #specialsCollapsible .emby-scrollbuttons.padded-right {
	position: fixed;
    top: 3.5em;
    left: 61em;
    z-index: 0;
}

.layout-desktop #specialsCollapsible .emby-scrollbuttons-button.paper-icon-button-light {
	padding-left: 20em;
}

.layout-desktop .personCard .overflowPortraitCard {
    width: 40vw;
	border: 2px solid white;
}

.personCard .coveredImage {
    clip-path: circle(50% at 50% 50%);
}

.personCard .cardOverlayContainer {
    clip-path: circle(50% at 50% 50%);
}

.layout-desktop .personCard .cardOverlayButton-br {
    right: 20%;
}

.personCard .cardPadder-overflowPortrait,
.personCard .cardPadder-portrait {
    padding-bottom: 100%;
    contain: strict;
    border-radius: 50% !important;
}

.layout-desktop #castCollapsible .overflowPortraitCard {
    width: 5em;
    padding-right: 18em;
    padding-left: 1em;
    height: 4.5em;
}

.layout-desktop #castCollapsible .cardTextCentered, 
.layout-desktop #castCollapsible .cardTextCentered > .textActionButton {
  text-align: left !important;
  width: 20em;
  margin-left: -5em;
  position: relative;
  top: -2.2em;
  left: 9em;
  font-size: 10pt;
  height: 1em;
}

.layout-desktop #castCollapsible .cardText-first {
  margin-top: -1.5em;
}

.layout-desktop #castCollapsible .cardText-secondary {
  font-size: 86% !important;
  padding-left: 2em;
}

.button-flat:hover {
  color: red;
}

.layout-desktop #guestCastContent .overflowPortraitCard {
	display: none !important;
}

.layout-desktop #castContent .cardScalable {
  clip-path: circle(50% at 50% 50%);
  border: 2px solid white;
  border-radius: 2em;
}

.layout-desktop #guestCastCollapsible .sectionTitle.sectionTitle-cards.padded-right {
	display: none;
}

/* More Like This */ 

.layout-desktop #similarCollapsible .cardText.cardTextCentered {
	display: none;
}
 
.layout-desktop #similarCollapsible .scrollSlider.focuscontainer-x.itemsContainer.similarContent.animatedScrollX {
    display: flex;
    flex-direction: column;
    align-items: center;
    white-space: normal;
    transition: none !important;
	position: fixed;
	top: 8.8em;
	left: 122.3em;
	max-height: 45em;
	overflow-y: hidden;
	z-index: 1000;
}

.layout-desktop #similarCollapsible .cardBox {
    width: 100%;
    margin-bottom: 10px;
}

.layout-desktop #similarCollapsible .card.overflowPortraitCard.card-hoverable.card-withuserdata {
    width: 5.92em;
    margin-bottom: -2.15em;
    filter: grayscale(100%);
    opacity: 0.2;
    transition: filter 0.3s, opacity 0.3s;
}

.layout-desktop #similarCollapsible .card.overflowPortraitCard.card-hoverable.card-withuserdata:hover {
    filter: grayscale(0%);
    opacity: 1;
}

.layout-desktop #similarCollapsible .cardScalable {
	border: 1px solid white;
	margin-right: 0.3em;
}

.layout-desktop #similarCollapsible .cardOverlayContainer.itemAction {
	display: none;
}

.layout-desktop #similarCollapsible .emby-scrollbuttons.padded-right {
	display: none;
}

/* Scenes */

.layout-desktop #scenesCollapsible .padded-top-focusscale.padded-bottom-focusscale.no-padding.emby-scroller {
	display: none;
}

.layout-desktop #scenesCollapsible .emby-scrollbuttons.padded-right {
	display: none;
}

/* Bio */
.layout-desktop #childrenContent .itemsContainer.padded-right.vertical-wrap {
  position: relative;
  top: 13.5em;
  left: -1em;
}

.layout-desktop #childrenContent .card.overflowBackdropCard.card-hoverable.card-withuserdata {
	width: 13em;
	margin-bottom: 0em;
	margin-top: -2.2em;
}

.layout-desktop #childrenContent .childrenItemsContainer {
  display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    white-space: nowrap;
    max-width: 94%;
    position: absolute;
    top: 44em;
    left: 6em;
    width: 94%;
    padding-bottom: 1em;
    z-index: 1000;
}

.layout-desktop #childrenContent .listItem-content {
  display: flex;
  justify-content: space-between;
  height: 11em;
  padding: 0.5em;
}

.layout-desktop #childrenContent .listItemBody {
  flex-grow: 1;
}

.layout-desktop #childrenContent .listItemBodyText {
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.layout-desktop #childrenContent .listItem-overview {
  height: 8.3em;
}

.layout-desktop #childrenContent .secondary.listItem-overview.listItemBodyText, 
.mediaInfoItem, .starRatingContainer mediaInfoItem, .endsAt.mediaInfoItem {
	font-size:86%;
}

/* Play button hidden before hovering */
.listItemImageButton {
  -webkit-align-self: center;
  align-self: center;
  background: rgba(0,0,0,0);
  color: transparent;
  display: -webkit-flex;
  display: flex;
  font-size: 1.6em;
  justify-self: center;
  margin: auto;
  transition: .2s ease-out;
}

.layout-desktop #childrenContent .listItem {
    flex: 0 0 auto; 
    margin-right: 0.2em; 
    width: 33%; 
}

.layout-desktop #childrenContent .listItemImage-large {
    width: 100%;
    height: auto;
}

.layout-desktop #childrenContent .listItemImage {
    flex-shrink: 0;
    width: 22%;
    height: auto;
}

.layout-desktop #childrenContent .listItemBody {
    width: 70%;
    display: inline-block;
    vertical-align: top;
	height: 12em;
}


.layout-desktop #childrenContent .listItemBodyText {
    display: block;
}

.listItem:hover {
  background: rgba(0,0,0,0.1);
}

@media all and (min-width: 70em){
.cardOverlayFab-primary {
    background-color: #00000000;
  }
  .cardOverlayButtonIcon {
    background-color: #00000000 !important;
  }
  #moviesTab .cardOverlayContainer {
    background-color: rgba(255, 255, 255, 0.1);
	border: solid 2px white;
  }
  #seriesTab .cardOverlayContainer {
    background-color: rgba(255, 255, 255, 0.1);
	border: solid 2px white;
  }
  #homeTab .cardOverlayContainer {
    background-color: rgba(255, 255, 255, 0.1);
	border: solid 2px white;
  }
  #suggestionsTab .cardOverlayContainer {
    background-color: rgba(255, 255, 255, 0.1);
	border: solid 2px white;
  }
  #favoritesTab .cardOverlayContainer {
    background-color: rgba(255, 255, 255, 0.1);
	border: solid 2px white;
  }
  #genresTab .cardOverlayContainer {
    background-color: rgba(255, 255, 255, 0.1);
	border: solid 2px white;
  } 
}

@media all and (max-width: 70em){
  .cardOverlayFab-primary {
    background-color: #00000000;
  }
  .cardOverlayButtonIcon {
    background-color: #00000000 !important;
  }
  .cardOverlayContainer {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .cardOverlayButton {
    padding: 0.25em;
  }
}

.cardOverlayContainer > .cardOverlayFab-primary {
  background-color: rgba(255, 0, 0, 1);
  font-size: 100%;
  height: 2.5em;
  left: 51.5%;
  margin-left: -1.5em;
  margin-top: -1.5em;
  padding: 0;
  position: absolute;
  top: 50%;
  width: 2.5em;
}

.cardOverlayButton {
  color: hsla(0,0%,100%,1);
  font-size: 88%;
}

.cardOverlayFab-primary {
  background-color: rgba(0,0,0,0);
  font-size: 100%;
  height: 3em;
  left: 50%;
}

.layout-desktop .button-flat.btnReplay.hide.detailButton.emby-button,
.button-flat.btnDownload.hide.detailButton.emby-button,
.button-flat.btnPlayTrailer.detailButton.emby-button,
.button-flat.btnInstantMix.hide.detailButton.emby-button,
.button-flat.btnShuffle.hide.detailButton.emby-button,
.button-flat.btnCancelSeriesTimer.hide.detailButton.emby-button,
.button-flat.btnMoreCommands.detailButton.emby-button,
.button-flat.btnPlaystate.detailButton.emby-button.playstatebutton-played {
	z-index: -2;
}

.layout-desktop #itemDetailPage .detailButton {
    padding-left: .85em !important;
    margin-right: -11.5em !important;
 }

.paper-icon-button-light:hover {
  background-color: rgba(0, 0, 0, 0) !important;
}

/* --- Mobile View --- */
  .layout-mobile .itemBackdrop {
    display: block;
    -webkit-animation: backdrop-fadein .8s ease-in normal both;
    animation: backdrop-fadein .8s ease-in normal both;
    background-attachment: fixed;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh !important;
    position: fixed !important;
    top: 0;
    margin-top: 0rem;
    left: 0;
    width: 100%;
    z-index: -1;
	filter: blur(0px) saturate(0%) contrast(130%) brightness(20%);
  }
}

.layout-mobile h1.itemName, .layout-mobile h1.parentName {
  font-size: 1.6em;
  padding-top: 4em;
}

.layout-mobile .detailRibbon {
  background: transparent;
  padding-top: 14em;
}

.layout-mobile .headerTabs.sectionTabs {
	margin-top: -2.1em;
}

/* ### Landscape ### */

/* --- Movie page --- */

/* Title */
@media (orientation: landscape) {
	.layout-mobile #itemDetailPage .nameContainer {
		position: absolute;
		top: 4.3em;
		left: 2.8%;
		width: 70%;
	}

	.layout-mobile #itemDetailPage .itemName.parentNameLast {
		font-family: "Kanit", sans-serif;
		font-weight: 700 !important;
		text-transform: uppercase;
		font-size: 2.5em;
		text-align: left;
		line-height: 0.85em;
		white-space: normal;
		line-height: 0.85em;
		max-height: 2em;
		max-width: 17.5em;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		text-overflow: ellipsis;
		overflow: hidden;
	}

/* Release Year, Rating etc */
	.layout-mobile #itemDetailPage .itemMiscInfo.itemMiscInfo-primary {
		position: absolute;
		top: 4em;
		left: 2.8%;
		font-family: "Rubik", sans-serif;
		font-size: 0.8em;
    }

	.layout-mobile #itemDetailPage .mainDetailButtons.focuscontainer-x {
		position: absolute;
		top: 17em;
		left: 0.9%;
		padding-left: 0%;
		z-index: 1000;
  }

	.layout-mobile #itemDetailPage .card.portraitCard {
		top: 3.5em;
		left: 72%;
		height: 16em;
		width: 10em;
    }

	.layout-mobile #itemDetailPage .genresLabel.label {
      display: none;
    }

	.layout-mobile #itemDetailPage .detailsGroupItem.genresGroup {
    position: absolute;
    top: -14.1em;
    left: -2.5%;
    font-family: "Kanit", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    opacity: 0.4;
    font-size: 0.8em;
    z-index: 2;
    }

	.layout-mobile #itemDetailPage .trackSelections.focuscontainer-x {
		position: absolute;
		top: 7em;
		left: 75%;
		font-size: 0.5em;
		width: 25.5em;
    }
	
	.layout-mobile #itemDetailPage .itemName.infoText.originalTitle {
		position: absolute;
		top: -1.4em;
		left: 39.5em;
		font-size: 0.7em;
    }

	.layout-mobile #itemDetailPage .detailPagePrimaryContent.padded-right {
    }

	.layout-mobile #itemDetailPage .detailSectionContent {
		position: absolute;
		top: -10.5em;
		left: -2.5%;
		max-width: 76%;
		font-family: "Rubik", sans-serif;
		font-size: 0.6em;
    }

	.layout-mobile #castContent .card.overflowPortraitCard.personCard.card-withuserdata {
		width: 4em;
		padding-right: 14%;
    }
	
	.layout-mobile #castCollapsible .padded-top-focusscale.padded-bottom-focusscale.no-padding.emby-scroller.scrollX.hiddenScrollX {
      padding-top: 5em;
    }

	.layout-mobile #castCollapsible .cardText-first {
		margin-top: 0.5em;
		font-size: 0.6em;
		text-align: left !important;
		margin-left: 0em !important;
		margin-right: -13em;
	}
	
	.layout-mobile #castCollapsible .cardText-secondary {
		font-size: 0.6em;
		padding-left: 0em;
		margin-right: -13em;
		margin-left: 2em;
		text-align: left !important;
	}

	.layout-mobile #itemDetailPage .itemExternalLinks.focuscontainer-x {
		position: absolute;
        top: 13.5em;
        left: 0.2%;
    }

	.layout-mobile #scenesContent .card.itemAction.chapterCard.overflowBackdropCard {
        width: 10em;
    }

	.layout-mobile #similarCollapsible .card.overflowPortraitCard.card-withuserdata {
      width: 10em;
    }

	.layout-mobile #scenesContent .innerCardFooter {
      background: linear-gradient(to right, rgba(255, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%) !important;
    }

	.layout-mobile #scenesContent .cardText {
		opacity: 0.8;
    }


	.layout-mobile #moviesTab .cardText.cardTextCentered.cardText-first {
		font-family: "Kanit", sans-serif;
		font-weight: 700 !important;
		text-transform: uppercase;
	}

	.layout-mobile #seriesTab .cardText.cardTextCentered.cardText-first {
		font-family: "Kanit", sans-serif;
		font-weight: 700 !important;
		text-transform: uppercase;
	}
}
