
/* --- Inherited from https://github.com/BobHasNoSoul/jellyfin-mods/blob/main/10.9.x.md adds a pan and tilt effect to the backdrop --- */
@keyframes backgroundScroll {
  0% { background-position: 0% 50%; }
  49% { background-position: 99% 50%; }
  50% { background-position: 100% 50%; }
  99% { background-position: 1% 50%; }
  100% { background-position: 0% 50%; }
}

.layout-desktop .backdropImage {
  background-size: 114.5%;
  background-position: 0% 50%;
  animation: backgroundScroll 49s linear infinite;
}
