.layout-desktop #homeTab .sections.homeSectionsContainer {
	margin-left: -2em;
	max-width: 129em;
        margin-top: 2em;
}

.layout-desktop #homeTab .verticalSection-extrabottompadding {
  margin-right: -5em !important;
  justify-content: center !important;
  display: flex;
}

.layout-desktop #homeTab .verticalSection.section1.emby-scroller-container {
	margin-top: -3.5em;
}

.layout-desktop #homeTab .verticalSection.section2.emby-scroller-container {
	margin-top: -3.5em;
}

@media only screen and (max-device-width: 767px) {.featurediframe {height: 33vh !important;}}

.featurediframe {
  width: 89vw;
  height: 300px;
  display: block;
  border: transparent;
  margin: 0 auto;
  background: top;
  filter: drop-shadow(11px 13px 3px rgba(2, 2, 2, 0.9));
}

.featured-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: transparent;
  font-family: "Exo 2", sans-serif;
  font-weight: 500;
  color: #fff;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: 3;
}

/* Mobile */
@media (max-width: 1800px) {
	.plot {
		display: none !important;
	}
	
	.featurediframe {
		margin-top: 3em;
	}
}

@media (orientation: landscape) and (max-width: 1200px) {
	.featurediframe {
		margin-top: 3em;
	}
}
